.button {
  box-shadow: 0px 2px 2px #4b3f73;
  border: 1px #195765;
  outline: none;
  width: 65%;
  max-width: 350px;
  background-color: rgba(75, 63, 115, 0.9);
  text-align: center;
  vertical-align: middle;
  margin: 2px auto;
  border-radius: 50px;
  margin-top: 10px; }
  .button .button-text {
    color: #f3ffe0;
    margin: 15px 10px;
    font-size: 20px;
    font-weight: 700; }

.button:hover {
  opacity: 0.85;
  transition-duration: 0.2s;
  box-shadow: 0px 3px 4px #4b3f73; }

  .subtitle {
    margin: 0px auto;
    padding: 0px;
    font-size: 25px;
    font-family: 'Comic Neue', cursive;
    color: #4b3f73; }

    .title {
      font-size: 100px;
      font-family: 'Comic Neue', cursive;
      color: #4b3f73;
      margin: 30px auto;
      padding-top: 30px;
      text-align: center;
      line-height: 40px; }

      .text-shadow {
        text-shadow: 1px 1px rgba(75, 63, 115, 0.9); }

        body {
          background-color: #b39bd1; }

          * {
            box-sizing: border-box; }

            .wrapper {
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: center;
              align-self: baseline; }
              .wrapper .body-wrapper {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: baseline;
                justify-content: center;
                align-self: baseline;
                margin: 0 auto;
                padding: 10px auto; }
                .wrapper .body-wrapper .toggle-wrapper {
                  width: 12rem;
                  height: 4rem;
                  position: relative;
                  margin: 2rem auto;
                  border-radius: 2rem;
                  background: rgba(75, 63, 115, 0.9); }
                  .wrapper .body-wrapper .toggle-wrapper .toggle {
                    width: 4.8rem;
                    height: 4.8rem;
                    position: absolute;
                    left: 3.6rem;
                    top: -0.4rem;
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: 0.1rem solid #ee8840;
                    background: #f2a56f;
                    box-shadow: 0 0 0.2rem 0.1rem #ee8840 inset, 0 0 0.2rem 0.1rem #ee8840;
                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
                    .wrapper .body-wrapper .toggle-wrapper label {
                      cursor: pointer;
                      width: 4rem;
                      height: 4rem;
                      position: absolute;
                      margin: 0;
                      padding: 0;
                      z-index: 1;
                      display: inline-block;
                      text-align: center;
                      line-height: 4rem;
                      text-transform: uppercase;
                      font-family: 'Lato', sans-serif;
                      font-size: 1rem;
                      font-weight: bold;
                      color: white;
                      -webkit-animation: 6s rot-label ease-in-out infinite;
                      -moz-animation: 6s rot-label ease-in-out infinite;
                      -o-animation: 6s rot-label ease-in-out infinite;
                      animation: 6s rot-label ease-in-out infinite; }
                      .wrapper .body-wrapper .toggle-wrapper input {
                        position: absolute;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        opacity: 0; }
                .wrapper .body-wrapper #yes_radio:checked ~ .toggle {
                  border: 0.1rem solid #5ca15c;
                  background: #7cb47c;
                  box-shadow: 0 0 0.2rem 0.1rem #5ca15c inset, 0 0 0.2rem 0.1rem #5ca15c;
                  left: -0.4rem; }
                .wrapper .body-wrapper #no_radio:checked ~ .toggle {
                  border: 0.1rem solid #c44545;
                  background: #d06c6c;
                  box-shadow: 0 0 0.2rem 0.1rem #c44545 inset, 0 0 0.2rem 0.1rem #c44545;
                  left: 7.6rem; }
                .wrapper .body-wrapper #maybe_radio, .wrapper .body-wrapper #maybe-lbl {
                  left: 33.33333%; }
                  .wrapper .body-wrapper #no_radio, .wrapper .body-wrapper #no-lbl {
                    left: 66.66667%; }
                    .wrapper .body-wrapper #maybe-lbl {
                      -webkit-animation-delay: 2s;
                      -o-animation-delay: 2s;
                      -moz-animation-delay: 2s;
                      animation-delay: 2s; }
                      .wrapper .body-wrapper #no-lbl {
                        -webkit-animation-delay: 4s;
                        -o-animation-delay: 4s;
                        -moz-animation-delay: 4s;
                        animation-delay: 4s; }
              .wrapper #picture {
                width: 600px;
                height: 400px;
                padding-right: 40px; }
                .wrapper .ct-chart, .wrapper #chart-1, .wrapper #chart-2 {
                  margin: auto;
                  padding: 50px;
                  width: 40%; }
                  .wrapper .button-first {
                    margin-top: 40px; }
                    .wrapper .ct-series-a .ct-line {
                      stroke: rgba(75, 63, 115, 0.7); }
                      .wrapper .ct-series-a .ct-point {
                        stroke: #4b3f73; }
                        .wrapper .ct-series-a .ct-bar {
                          stroke: rgba(75, 63, 115, 0.9); }
