.button {
  box-shadow: 0px 2px 2px $cyber-grape;
  border: 1px #195765;
  outline: none;
  width: 50%;
  max-width: 350px;
  background-color: $cyber-grape-light;
  text-align: center;
  vertical-align: middle;
  margin: 2px auto;

  /* border-radius: 2px; */
  border-radius: 50px;
  margin-top: 10px;

  .button-text {
    color: $nyanza;
    margin: 15px 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

.button:hover {
  opacity: 0.85;
  transition-duration: 0.20s;
  box-shadow: 0px 3px 4px $cyber-grape;
  /* border-radius: 4px; */
}



.subtitle {
  margin: 0px auto;
	padding: 0px;
	font-size: 30px;
	font-family: 'Comic Neue', cursive;
	color: $cyber-grape;
	// text-align: center;
}

.title {
	font-size: 100px;
	font-family: 'Comic Neue', cursive;
	color: $cyber-grape;
	margin: 30px auto;
  padding-top: 40px;;
	text-align: center;
	line-height: 40px;
}

.text-shadow {
  text-shadow: 1px 1px $cyber-grape-light;
}

