/* SCSS HSL */
$glossy-grape: rgb(179, 155, 209);
$cyber-grape: hsla(254, 29%, 35%, 1);
$cyber-grape-light: hsla(254, 29%, 35%, 0.9);
$cyber-grape-lighter: hsla(254, 29%, 35%, 0.7s);
$metallic-seaweed: hsla(187, 32%, 41%, 1);
$nyanza: hsla(84, 100%, 94%, 1);
$light-green: rgb(231, 247, 205);
$gold-crayola: hsla(42, 53%, 71%, 1);