<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#b39bd1">
	
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
	<title>HomeAuto</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
	</style>
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
	<header class="header-wrapper">
	</header>
	<main class="wrapper">
    <div class="body-wrapper text">
      <h1 class="title text-shadow">AutoHome</h1>
      <h2 class="subtitle ">Smart home automation system,</h2>
      <h2 class="subtitle ">designed to save energy</h2>
      <button class="button button-first"><p class="button-text" onclick="plotTemp();">Temperature</p></button>
      <button class="button"><p class="button-text" onclick="plotHumidity();">Humidity</p></button>
      <button class="button"><p class="button-text" onclick="plotDust();">Dust</p></button>
      <button class="button"><p class="button-text" onclick="plotGas();">Gas</p></button>
      <button class="button"><p class="button-text" onclick="plotLight();">Light</p></button>
      

      <form class="toggle-wrapper">
        <label for="yes_radio" id="yes-lbl">on</label><input type="radio" value="1" name="choice_radio" id="yes_radio" onclick="turn_on();">
        <label for="maybe_radio" id="maybe-lbl">auto</label><input type="radio" value="2" name="choice_radio" id="maybe_radio" checked="checked" onclick="turn_auto();">
        <label for="no_radio" id="no-lbl">off</label><input type="radio" value="0" name="choice_radio" id="no_radio" onclick="turn_off();">
        
        <div class="toggle"></div>
      </form>
    </div>
    <div class="ct-chart ct-golden-section" id="chart1"><img id="picture" src="../static/svgs/home.svg" alt=""></div>
    <a id="head" href="http://127.0.0.1:5000/outside"><img src="../static/svgs/button.png" id="fixedbutton"></a>
  </main>
	<footer class="footer-wrapper">
	</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
  <!-- <script src='http://localhost:5000/socket.io/socket.io.js'></script> -->
  <script>
    // const socket = io.connect('http://' + document.domain + ':' + location.port + '/socket.io/socket.io.js');
  var options = {
    seriesBarDistance: 15,
    width: 600,
    height: 400
  };

  var responsiveOptions = [
    ['screen and (min-width: 641px) and (max-width: 1024px)', {
      seriesBarDistance: 10,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value;
        }
      }
    }],
    ['screen and (max-width: 640px)', {
      seriesBarDistance: 5,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value[0];
        }
      }
    }]
  ];

    function plot(variable) {
      new Chartist.Line('#chart1', {
        // labels: [1, 2, 3, 4],
        series: [variable.slice(1).slice(-20)]
      }, options);

      $('#picture').hide();
    }

  function plot_bar(variable) {
    new Chartist.Bar('#chart1', {
      // labels: [1, 2, 3, 4],
      series: [variable.slice(1).slice(-20)]
    }, options);
  }

    function turn_on() {
      // event.preventDefault();
      $.ajax({
				data : {
					light : 1
				},
				type: 'POST',
				url: '/on'
			})
			.done(function(data) {
				console.log("Light will be turned on") 
			});
      
      return 200;
    }

    function turn_off() {
      // event.preventDefault();

      $.ajax({
				data : {
					light : 1
				},
				type: 'POST',
				url: '/off'
			})
			.done(function(data) {
				console.log("Light will be turned off");
			});
      return 200;
    }

    function turn_auto() {
      // event.preventDefault();
      
      $.ajax({
				data : {
					light : 2
				},
				type: 'POST',
				url: '/auto'
			})
			.done(function(data) {
				console.log("Light will be automatically turned on or off")
			});

      return 200;
    }

    function toggle(variable) {
      $('[name="radioSelectionName"]').removeAttr('checked');
      $("input[name=mygroup][value=" + variable + "]").prop('checked', true);
    }

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));

    }
  
    function plotTemp() {
      $.ajax({
				type: 'POST',
				url: '/temp'
			})
			.done(function(data) {
				console.log("Temperature stats plotted")
        plot(data.temp)
			});
    }

    function plotHumidity() {
      $.ajax({
				type: 'POST',
				url: '/humidity'
			})
			.done(function(data) {
				console.log("Humidity stats plotted")
        plot(data.humidity)
			});
    }

      function plotDust() {
      $.ajax({
				type: 'POST',
				url: '/dust'
			})
			.done(function(data) {
				console.log("Dust stats plotted")
        plot(data.dust)
			});
    }

      function plotGas() {
      $.ajax({
				type: 'POST',
				url: '/gas'
			})
			.done(function(data) {
				console.log("Gas stats plotted")
        plot(data.gas)
			});
    }

      function plotLight() {
      $.ajax({
				type: 'POST',
				url: '/light'
			})
			.done(function(data) {
				console.log("Light stats plotted")
        plot(data.light)
			});
    }
  </script>
</body>
</html
