<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#b39bd1">
	
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
	<title>HomeAuto</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
	</style>
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link rel="stylesheet" href="../static/css/outside.css">
</head>

<body>
	<header class="header-wrapper">
	</header>
	<main class="wrapper">
    <div class="ct-chart ct-golden-section" id="chart1"><img id="picture" src="../static/svgs/garden.svg" alt=""></div>
    <div class="body-wrapper text">
      <h1 class="title text-shadow">OutAuto</h1>
      <h2 class="subtitle ">Smart home automation system,</h2>
      <h2 class="subtitle ">designed to save energy</h2>
      <button class="button button-first"><p class="button-text" onclick="plotTemp();">Temperature</p></button>
      <button class="button"><p class="button-text" onclick="plotHumidity();">Humidity</p></button>
      <button class="button"><p class="button-text" onclick="plotDust();">Dust</p></button>
      <button class="button"><p class="button-text" onclick="plotGas();">Gas</p></button>
    
      </form>
    </div>
    <a id="head" href="http://127.0.0.1:5000/"><img src="../static/svgs/button.png" id="fixedbutton"></a>
  </main>
	<footer class="footer-wrapper">
	</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    
  var options = {
    seriesBarDistance: 15,
    width: 600,
    height: 400
  };

  var responsiveOptions = [
    ['screen and (min-width: 641px) and (max-width: 1024px)', {
      seriesBarDistance: 10,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value;
        }
      }
    }],
    ['screen and (max-width: 640px)', {
      seriesBarDistance: 5,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value[0];
        }
      }
    }]
  ];

    function plot(variable) {
      new Chartist.Line('#chart1', {
        // labels: [1, 2, 3, 4],
        series: [variable.slice(1).slice(-20)]
      }, options);

      $('#picture').hide();
    }

  function plot_bar(variable) {
    new Chartist.Bar('#chart1', {
      // labels: [1, 2, 3, 4],
      series: [variable.slice(1).slice(-20)]
    }, options);
  }


    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));

    }
  
    function plotTemp() {
      $.ajax({
				type: 'POST',
				url: '/temp-o'
			})
			.done(function(data) {
				console.log("Temperature stats plotted")
        plot(data.temp)
			});
    }

    function plotHumidity() {
      $.ajax({
				type: 'POST',
				url: '/humidity-o'
			})
			.done(function(data) {
				console.log("Humidity stats plotted")
        plot(data.humidity)
			});
    }

      function plotDust() {
      $.ajax({
				type: 'POST',
				url: '/dust-o'
			})
			.done(function(data) {
				console.log("Dust stats plotted")
        plot(data.dust)
			});
    }

      function plotGas() {
      $.ajax({
				type: 'POST',
				url: '/gas-o'
			})
			.done(function(data) {
				console.log("Gas stats plotted")
        plot(data.gas)
			});
    }

  </script>
</body>
</html
